*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* list-style: none;
    text-decoration: none; */
    font-family: "Roboto", sans-serif;
}

:root{
	--bg-color: #0c0c0c;
	--text-color: #fff;
	--main-color: #e23030;

	--big-font: 6.6rem;
	--p-font: 1rem;
}

body{
    background: url(imgs/bg.png);
	/* background: var(--bg-color); */
	/* color: var(--text-color); */
}

.box{
	width: 330px;
	padding: 2rem 1rem;
	margin: 50px auto;
	margin-top: 10rem;
	background-color: #fff;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1{
	font-size: 2rem;
	color: var(--bg-color);
	margin-bottom: 1.2rem;
}

form input{
	width: 92%;
	outline: none;
	border: 1px solid	#fff;
	padding: 12px 20px;
	margin-bottom: 10px;
	border-radius: 20px;
	background: #e4e4e4;
}

button{
	font-size: 1rem;
	margin-top: 1rem;
	padding: 10px 0;
	border-radius: 20px;
	outline: none;
	border: none;
	width: 90%;
	background: var(--bg-color);
	color: var(--text-color);
	cursor: pointer;
}

button:hover{
	background: var(--main-color);
	transition: 800ms;
}

input:focus{
	border: 1px solid #7a7a7a;
}

.terms{
	margin-top: 0.2rem;
}

.terms input{
	height: 1em;
	width: 1em;
	vertical-align: middle;
	cursor: pointer;
}

.terms label{
	font-size: 0.9rem;
}

.terms a{
	color: #00218f;
	text-decoration: none;
}

.member{
	font-size: 0.9rem;
	margin-top: 1.4rem;
	color: var(--bg-color);
}

.member a{
	color: #00218f;
	text-decoration: none;
}

.scroll {
	position: absolute;
	top: 92%;
	right: 7%;
	transform: translateY(-50%);
}

.scroll a{
	font-size: 16px;
	/* color: var(--text-color); */
}

.scroll i{
	font-size: 20px;
	color: var(--text-color);
	margin-right: 6px;
}